*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
header,
main {
  max-width: 900px;
  width: 100%;
  padding: 2rem 1rem;
  margin-inline: auto;
}
header {
  text-align: center;
}
.articles article {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2rem;
}
h1{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.articles article h2 {
  font-weight: 600;
  font-size:0.89rem;
  margin-bottom: 1rem;
}
.articles article p {
  font-size: 0.8rem;
  color:#4D5562;
}
.articles article img {
  width: 130px;
  height: 130px;
  border-radius: 20px;
}
footer{
  text-align: center;
  padding: 2rem;;
}
@media (min-width: 850px) {
  .articles article {
    gap: 3rem;
  }
  .articles article div {
    flex: 0.8;
  }
  .articles article h2{
    font-size: 1.25rem;
  }
  .articles article img {
    width: 200px;
    height: 200px;
    flex: 0.3;
  }
}
