@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image{
    background-image: url('../public/background-image@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}